# ignore build products
/bin
/site
/terraform-provider-confluence

# ignore confluence secrets
terraform.tfvars
secrets.env

# ignore some things terraform could produce in the examples
.terraform
terraform.tfstate*
