# ignore build products
terraform-provider-confluence
/site

# ignore confluence secrets
terraform.tfvars
secrets.env

# ignore some things terraform could produce in the examples
.terraform
terraform.tfstate*
